<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tour</title>
</head>
<body>
    <a th:href="@{/admin/tours}">&lAarr; Back</a>
    <h1 th:text="${tour.name}"></h1>
    <ul>
        <li><strong>Name</strong>: <span th:text="${tour.name}"></span></li>
        <li><strong>Description</strong>: <span th:text="${tour.description}"></span></li>
        <li><strong>Start Date</strong>: <span th:text="${tour.startDate.toString()}"></span></li>
        <li><strong>End Date</strong>: <span th:text="${tour.endDate.toString()}"></span></li>
        <li><strong>Price</strong>: <span th:text="${tour.price}"></span></li>
        <li><strong>Location</strong>: <span th:text="${tour.location}"></span></li>
        <div th:each="image: ${tour.images}" class="display: flex; justify-content: space-between">
            <li><img height="100px" width="100px" th:src="${image.link}" alt="#"></li>
        </div>
    </ul>
    <a th:href="@{/admin/tours/{tourId}/edit(tourId=${tour.id})}" th:text="'Edit'"></a>
    <form th:action="@{/admin/tours/{tourId}(tourId=${tour.id})}" th:method="delete">
        <button type="submit">Delete</button>
    </form>
</body>
</html>