<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create place</title>
</head>
<body>
<a th:href="@{/admin/places}">&larr; Back</a>
<div th:if="${errors}">
    <h2>Errors while creating place</h2>
    <ul>
        <li th:each="error: ${errors}" th:text="${error}"></li>
    </ul>
</div>
<form th:action="@{/admin/places}" method="post" enctype="multipart/form-data">
    <label>
        Place name:<br>
        <input type="text" name="name" th:value="${payload?.name}">
        <br>
    </label>
    <label>
        Description:<br>
        <input type="text" name="description" th:value="${payload?.description}">
        <br>
    </label>
    <label>
        Longitude:<br>
        <input type="text" name="longitude" th:value="${payload?.longitude}">
        <br>
    </label>
    <label>
        Latitude:<br>
        <input type="text" name="latitude" th:value="${payload?.latitude}">
        <br>
    </label>
    <label>
        Location:<br>
        <input type="text" name="location" th:value="${payload?.location}">
        <br>
    </label>
    <label>
        Type:<br>
        <select id="place-type" name="type">
            <option value="INDOOR">Indoor</option>
            <option value="OUTDOOR">Outdoor</option>
        </select>
        <br>
    </label>
    <label>
        Images:<br>
        <input type="file" name="images" multiple>
    </label>
    <br>
    <button type="submit">Create</button>
</form>
</body>
</html>