<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[${place.name}]]</title>
</head>
<body>
<a th:href="@{/admin/places}">&larr; Back</a>
<h1 th:text="${place.name}"></h1>
<ul>
    <li><strong>Name</strong>: <span th:text="${place.name}"></span></li>
    <li><strong>Description</strong>: <span th:text="${place.description}"></span></li>
    <li><strong>Location</strong>: <span th:text="${place.location}"></span></li>
    <li><strong>Longitude</strong>: <span th:text="${place.longitude}"></span></li>
    <li><strong>Latitude</strong>: <span th:text="${place.latitude}"></span></li>
</ul>
<a th:href="@{/admin/places/{placeId}/edit(placeId=${place.id})}" th:text="'Edit'"></a>
<form th:action="@{/admin/places/{placeId}/delete(placeId=${place.id})}" method="post">
    <button type="submit">Delete</button>
</form>
</body>
</html>