<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[${place.name}]]</title>
</head>
<body>
<a th:href="@{/admin/places}">&larr; Back</a>
<h1 th:text="${place.name}"></h1>
<ul>
    <li><strong>Name</strong>: <span th:text="${place.name}"></span></li>
    <li><strong>Description</strong>: <span th:text="${place.description}"></span></li>
    <li><strong>Location</strong>: <span th:text="${place.location}"></span></li>
    <li><strong>Longitude</strong>: <span th:text="${place.longitude}"></span></li>
    <li><strong>Latitude</strong>: <span th:text="${place.latitude}"></span></li>
    <li><strong>Place type</strong>: <span th:text="${place.type.getName()}"></span></li>
    <div th:each="image: ${place.images}" class="display: flex; justify-content: space-between">
        <li><img height="100px" width="100px" th:src="${image.link}" alt="#"></li>
    </div>
</ul>
<a th:href="@{/admin/places/{placeId}/edit(placeId=${place.id})}" th:text="'Edit'"></a>
<form th:action="@{/admin/places/{placeId}/delete(placeId=${place.id})}" method="post">
    <button type="submit">Delete</button>
</form>
</body>
</html>