<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Places</title>
</head>
<body>
<form th:action="@{/admin/places}" method="get">
    <input type="text" name="filter" th:value="${filter}">
    <button type="submit">Search</button>
</form>
<a th:href="@{/admin/places/create}">+ Create place</a>
<br>
<h1>Places</h1>
<div>
    <div th:each="place : ${places}">
        <a th:text="${place.name}" th:href="@{/admin/places/{placeId}(placeId=${place.id})}"></a>
    </div>
</div>

</body>
</html>