<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour</title>
    <link rel="stylesheet" th:href="@{/css/place.css}">
    <script src="https://kit.fontawesome.com/7fb7fffe92.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/general.html :: navbar"></div>

<main id="content-wrapper">
    <div id="content">
        <h1 id="header-container" th:text="${place.name}"></h1>
        <div id="imgs-container">
            <img th:each="image : ${place.getImages().stream().limit(3).toList()}" th:src="${image.link}" alt="" class="tour-img">
            <img th:src="@{/imgs/more.png}" alt="" class="more-btn-img">
        </div>

        <hr class="section-divider">

        <h2 id="description-container">Description</h2>
        <span id="description-text" th:text="${place.description}"></span>

        <hr class="section-divider">

        <div id="main-info-buy-btn-container">
            <div id="main-info-wrapper">
                <h2 id="main-info-container">Main information:</h2>
                <span class="main-info-attribute" th:text="${'Location' + place.location}"></span>
                <span class="main-info-attribute" id="tour-rating" th:text="${'Rating' + rating}">Rating: 3.4

                    </span>
                <form id="add-to-favourite-form" th:action="@{/places/{placeId}/add-to-favourite(placeId=${place.id})}" method="post">
                    <i th:class="${'fa-solid fa-bookmark' + (isFavourite ? ' bookmark-checked' : '')}" id="add-favourite-btn"></i>
                </form>
            </div>
            <div id="buy-btn-container">
            </div>
        </div>
        <div id="send-review-container">
            <div id="review-header-container">
                <h2>Review</h2>
                <div class="stars-container">
                    <i class="fa-solid fa-star white-star review-star"></i>
                    <i class="fa-solid fa-star white-star review-star"></i>
                    <i class="fa-solid fa-star white-star review-star"></i>
                    <i class="fa-solid fa-star white-star review-star"></i>
                    <i class="fa-solid fa-star white-star review-star"></i>
                </div>
            </div>
            <form th:action="@{/places/{placeId}/add-review(placeId=${place.id})}" method="post" id="review-input-container">
                <input type="text" id="review-input" name="text" placeholder="Write your review">
                <input name="rating" type="hidden" id="rating-value" value="1">
                <button id="send-review-btn" type="submit">Send</button>
            </form>
        </div>
        <div id="reviews-wrapper">
            <div th:each="review : ${reviews}" class="user-review">
                <div class="reviewer-img-container">
                    <img th:src="@{/imgs/bugs-bunny.png}" alt="" class="reviewer-img">
                    <span th:text="${review.creator.getFirstName() + ' ' + review.creator.getLastName()}" class="reviewer-name">Bugs Bunny</span>
                    <div class="stars-container user-stars-container">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
                <span th:text="${review.text}" class="review-text">
                        Good tour, Boy!
                    </span>
            </div>
        </div>
    </div>
</main>

<script th:src="@{/js/navbar.js}"></script>
<script th:src="@{/js/reviews.js}"></script>
<script th:src="@{/js/favourite.js}"></script>
<script th:src="@{/js/popup-notifications.js}"></script>
<script th:inline="javascript">
    let rating = [[${rating}]]
    document.getElementById("tour-rating").innerHTML = "Rating: " + rating + "<div id=\"tour-stars-container\" class=\"stars-container\">\n" +
        "        <i class=\"fa-solid fa-star white-star tour-star\"></i>\n" +
        "        <i class=\"fa-solid fa-star white-star tour-star\"></i>\n" +
        "        <i class=\"fa-solid fa-star white-star tour-star\"></i>\n" +
        "        <i class=\"fa-solid fa-star white-star tour-star\"></i>\n" +
        "        <i class=\"fa-solid fa-star white-star tour-star\"></i>\n" +
        "    </div>"

    colorStars(document.getElementsByClassName("tour-star"), rating)

    let userRatings = [[${ratings}]]

    for (let i = 0; i < userRatings.length; i++) {
        currStars = document.getElementsByClassName("user-stars-container")[i].children
        colorStars(currStars, userRatings[i])
    }

    const placeName = encodeURIComponent([[${place.name}]])
    console.log(placeName)
    map = `<iframe width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=${placeName}&key=AIzaSyDrCQpLMVMe3kOKJ-rslvMhcaN6d7ReRvY" allowfullscreen></iframe>`
    document.getElementById("buy-btn-container").innerHTML = map
</script>
</body>
</html>