<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Your Way</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
    <main>
        <section class="promo">
            <div class="container">
                <div class="logo">
                    <img th:src="@{/imgs/icons/logo.png}" alt="logo" class="logo__img">
                    <div class="logo__text">Your favotite tourism </div>
                </div>

                <h1 class="title title__color">KazInsight the best navigator for tourism! </h1>
                <h2 class="title title__big">Very simple!</h2>
                <h2 class="title title__color">Make Your life wonderfull</h2>
                <p class="promo__text">Make you life wonderfull and intiresting with <span>KazInsight</span>.</p>

                <a th:href="@{/login}"><button class="btn"> Login </button></a>

                <div class="promo__scroll">to learn more</div>
                <img th:src="@{/imgs/icons/scroll.png}" alt="down" class="promo_scroll_img">
            </div>
        </section>
        <section class="intensive">
            <div class="container">
                <h2 class="title intensive__title">What waits you in our website?</h2>
                <div class="divider"></div>

                <h3 class="intensive__subtitle"> We have 3-main adventages! </h3>

                <div class="intensive__wrapper">
                    <div class="intensive__item">
                        <img th:src="@{/imgs/icons/logo_intensive_1.png}" alt="icon 1" class="intensive__img">
                        <div class="intensive__description">Provide users with access to complete and up-to-date data on
                            tourist attractions in Kazakhstan.</div>
                    </div>
                    <div class="intensive__item">
                        <img th:src="@{/imgs/icons/logo_intensive_2.png}" alt="icon 2" class="intensive__img">
                        <div class="intensive__description">Create a convenient platform for travel planning, including
                            itineraries, excursions and cultural events.</div>
                    </div>
                    <div class="intensive__item">
                        <img th:src="@{/imgs/icons/logo_intensive_3.png}" alt="icon 3" class="intensive__img">
                        <div class="intensive__description">Provide users with the opportunity to view reviews and
                            ratings of other tourists to make informed decisions.</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="info">
            <div class="container">
                <h2 class="title info__title">KazInsight</h2>



                <p class="info__text">Kazinsight is an interactive mobile application designed to provide virtual tours
                    of Kazakhstan’s cities and regions.</p>
                <p class="info__text">"Kazinsight" is an innovative web application designed to enhance the travel
                    experience in Kazakhstan. Our app provides
                    users with immersive virtual tours of cities and regions, showcasing the rich cultural heritage and
                    stunning landscapes
                    of the country. With interactive maps, detailed descriptions, and engaging multimedia content,
                    "Kazinsight" aims to be
                    the ultimate guide for both local and international tourists.</p>
            </div>
        </section>
        <section class="plus">
            <div class="container">
                <h2 class="title plus__title">
                    After you Sign up, you can!
                </h2>

                <div class="divider"></div>

                <div class="plus__wrapper">
                    <div class="plus__items">
                        <div class="plus__round"><img th:src="@{/imgs/icons/logo_intensive_1.png}" alt="" class="plus__img"></div>
                        <div class="plus__desc">Up-to-Date Data</div>
                    </div>
                    <div class="plus__items">
                        <div class="plus__round"><img th:src="@{/imgs/icons/logo_intensive_2.png}" alt="" class="plus__img"></div>
                        <div class="plus__desc">Travel Planning</div>
                    </div>
                    <div class="plus__items">
                        <div class="plus__round"><img th:src="@{/imgs/icons/icon_plus_4.png}" alt="" class="plus__img"></div>
                        <div class="plus__desc">Free to Use!</div>
                    </div>
                    <div class="plus__items">
                        <div class="plus__round"><img th:src="@{/imgs/icons/icon_plus_5.png}" alt="" class="plus__img"></div>
                        <div class="plus__desc">Friendly Interface</div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer_main">
            <div class="container">
                <di class="footer__items">
                    <h2 class="title ">Contact with us!</h2>
                    <p>Gmail:************</p>
                    <p>Phone:+7777777777</p>
                    
                </di>
                
            </div>
            <p class="rights">All rights belongs to © NurZhan productions</p>
        </footer>

    </main>
</body>

</html>