<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>
</head>
<body>
    <h1>Registration</h1>
    <form th:action="@{/auth/register}" method="post" th:object="${user}">
        <label>
            First Name:<br>
            <input type="text" name="firstName" th:field="*{firstName}">
            <br>
        </label>
        <label>
            Last Name:<br>
            <input type="text" name="lastName" th:field="*{lastName}">
            <br>
        </label>
        <label>
            Email:<br>
            <input type="email" name="email" th:field="*{email}">
            <br>
        </label>
        <label>
            Password:<br>
            <input type="text" name="password" th:field="*{password}">
            <br>
        </label>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>