<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tours</title>
</head>
<body>

    <form th:action="@{/tours}" method="get">
        <input type="text" name="filter" th:value="${filter}">
        <button type="submit">Search</button>
    </form>
    <br>
    <h1>Tours</h1>
    <div>
        <div th:each="tour : ${tours}">
            <a th:text="${tour.name}" th:href="@{/tours/{tourId}(tourId=${tour.id})}"></a>
        </div>
    </div>

</body>
</html>